.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;

  width: 19px;
  height: 19px;

  color: $dot;

  border: 2px solid inherit;
  border-radius: 5px;

  cursor: pointer;

  transition: border $transition-default;

  &:hover {
    color: $nav;
  }

  //&:after,
  //&:before {
  //  content: "";
  //  position: absolute;
  //
  //  width: 3px;
  //
  //  border-radius: 3px;
  //
  //  transition: background-color $transition-default;
  //}
  //
  //&:after {
  //  height: 15px;
  //
  //  transform: rotate(33deg);
  //
  //  top: 0;
  //  left: 62%;
  //}
  //
  //&:before {
  //  height: 10px;
  //
  //  transform: rotate(-33deg);
  //
  //  top: 29%;
  //  left: 26%;
  //}
}

.custom-checkbox--small-stick,
.custom-checkbox--big-stick {
  position: absolute;

  width: 3px;

  border-radius: 3px;

  background-color: inherit;

  transition: background-color $transition-default;
}

.custom-checkbox--small-stick {
  height: 10px;

  transform: rotate(-33deg);

  top: 29%;
  left: 26%;
}

.custom-checkbox--big-stick {
  height: 15px;

  transform: rotate(33deg);

  top: 0;
  left: 62%;
}

//на странице блог изменить размер кастомного чекбокса
.filters__form {
  & .custom-checkbox {
    width: 25px;
    height: 25px;
  }

  & .custom-checkbox--small-stick {
    height: 11px;

    top: 32%;
    left: 27%;
  }

  & .custom-checkbox--big-stick {
    top: 13%;
    left: 55%;
  }

}

.label--condition:hover ~ .custom-checkbox {
  color: $nav;
}

input[type="checkbox"]:checked {
  & ~ .custom-checkbox {
    color: $basic-text;
  }
}

input[type="checkbox"]:checked {
  & ~ .custom-checkbox .custom-checkbox--small-stick,
  & ~ .custom-checkbox .custom-checkbox--big-stick {
    background-color: $basic-text;
  }
}

input[type="checkbox"]:focus {
  & ~ .custom-checkbox {
    outline: 2px solid $button-good;
  }
}
