.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;

  width: 19px;
  height: 19px;

  border: 2px solid;
  border-radius: 3px;

  cursor: pointer;

  transition: border $transition-default;

  &:hover {
    border-color: $nav;
  }

  &:after,
  &:before {
    content: "";
    position: absolute;

    width: 3px;

    color: $basic-text;

    border-radius: 3px;

    transition: $transition-default;
  }

  &:after {
    height: 15px;

    transform: rotate(33deg);

    top: 0;
    left: 62%;
  }

  &:before {
    height: 10px;

    transform: rotate(-33deg);

    top: 29%;
    left: 26%;
  }
}

.filters__form .custom-checkbox {
  width: 25px;
  height: 25px;

  &:before {
    top: 28%;
    left: 26%;
  }

  &:after {
    top: 13%;
    left: 55%;
  }
}

.label--condition:hover ~ .custom-checkbox {
  border-color: $nav;
}

input[data-checkbox="checkbox"] ~ .custom-checkbox {
  border-color: $dot;
}

input[data-checkbox="checkbox"]:checked ~ .custom-checkbox {
  border-color: $basic-text;
}

input[data-checkbox="checkbox"]:checked ~ .custom-checkbox:before,
input[data-checkbox="checkbox"]:checked ~ .custom-checkbox:after {
  background-color: $basic-text;
}

input[data-checkbox="checkbox-blue"]:checked ~ .custom-checkbox:before,
input[data-checkbox="checkbox-blue"]:checked ~ .custom-checkbox:after {
  background-color: $blue;
}

input[data-checkbox="checkbox-blue-light"]:checked ~ .custom-checkbox:before,
input[data-checkbox="checkbox-blue-light"]:checked ~ .custom-checkbox:after {
  background-color: $blue-light;
}

input[data-checkbox="checkbox"]:focus ~ .custom-checkbox {
  outline: 2px solid $button-good;
}
