.footer {

}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  padding: 59px 21px 61px 0;

  @media (max-width: $media-desktop) {
    padding: 59px 1px 61px 0;
  }
}

.footer__contacts__title {
  margin-bottom: 22px;
}

.footer__contacts__text {
  max-width: 272px;
  margin-bottom: 31px;
}

.footer__contacts__message {
  margin-bottom: 40px;
}

.footer__contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9px;

  max-width: 327px;
  margin-bottom: 41px;
}

.footer__contacts__item {

}

.footer__contacts__link {

}

.footer__contacts__text-design,
.footer__contacts__text-code {
  font-size: 14px;
  line-height: 16px;
  color: $nav;
}

.footer__contacts__text-design {
  margin-bottom: 6px;
}

.footer__contacts__text-code {

}
