.form {
  width: 100%;

  padding: 38px 38px 40px 37px;
  border: 2.5px solid $basic-text;

  background-color: $basic-white;

  @media (max-width: $media-mobile) {
    padding: 20px;
    border: none;
  }
}
