.input-default {
  padding: 13px 14px 12px;
  border: 2.5px solid $dot;

  @media (max-width: $media-mobile) {
    width: 100%;
  }

  &:hover {
    border-color: $nav;
  }

  &:focus {
    border-color: $basic-text;
  }
}

.input-default--invalid-js {
  border: 2.5px solid $button-bad;
}

.input-default--valid-js {
  border: 2.5px solid $button-good;
}
