.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  margin-bottom: 6px;

  z-index: 1;
}

.label--condition {
  color: $dot;

  cursor: pointer;

  transition: $transition-default;

  &:hover {
    color: $nav;
  }
}

input[data-checkbox="checkbox"]:checked ~ .label {
  color: $basic-text;
}
