@import "fonts";
@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/main-title";
@import "_blocks/title";
@import "_blocks/link-border";
@import "_blocks/link";
@import "_blocks/button";
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/header";


/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

//*index*//
//banner
.banner {
  padding: 0 69px 0 50px;
  margin: 38px auto 0;

  @media (max-width: $media-desktop) {
    padding: 0 60px 0 60px;
  }

  @media (max-width: $media-tablet) {
    padding: 0 20px;
  }
}

.banner__title {
  display: inline-block;
  max-width: min-content;
}

.banner__sub-title {
  display: inline-block;
  max-width: 250px;
  margin: 65px 0 45px 36px;

  font-size: inherit;

  @media (max-width: $media-desktop) {
    margin: 64px 0 45px 36px;
  }

  @media (max-width: $media-tablet) {
    margin: 23px 53px 35px 0px;
  }
}

//slider
.slider {
  overflow: hidden;
}

.slider__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.slider__item {
  opacity: 0;
  transition: 0.8s;

  grid-column: 1/2;
  grid-row: 1/2;
}

.slider__item--active {
  opacity: 1;
  transition: 0.8s;
}

.slider__item--disabled {
  visibility: hidden;
}

//controls
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 29px;

  @media (max-width: $media-desktop) {
    margin-top: 39px;
  }

  @media (max-width: $media-tablet) {
    margin-top: 30px;
  }
}

.controls__arrow {
  width: 42px;
  height: 42px;

  border-radius: 50%;
  border: 3px solid $basic-text;

  position: relative;

  &:after {
    content: "";
    width: 16px;
    height: 16px;

    border-top: 3px solid $basic-text;
    border-left: 3px solid $basic-text;

    position: absolute;
  }

  &:focus,
  &:hover,
  &:focus:after,
  &:hover:after {
    border-color: $nav;
  }

  &:disabled,
  &:disabled:after {
    border-color: $dot;
  }
}

.controls__arrow--left {
  &:after {
    transform: rotate(-45deg);

    left: 14px;
    top: 11px;
  }
}

.controls__arrow--right {
  &:after {
    transform: rotate(135deg);

    left: 6px;
    top: 11px;
  }
}

.controls__list {
  display: flex;
  gap: 7px;

  @media (max-width: $media-tablet) {
    margin-top: 14px;
  }
}

.controls__item {

}

.controls__button {
  width: 10px;
  height: 10px;

  border-radius: 50%;

  background-color: $dot;

  &:hover,
  &:focus {
    background-color: $nav;
  }
}

.controls__button--active {
  background-color: $basic-text;
}

//about
.about {
  background-color: $about-bg;
  margin-top: 61px;

  @media (max-width: $media-tablet) {
    margin-top: 36px;
  }
}

.about__inner-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 60px 60px 43px;

  @media (max-width: $media-desktop) {
    padding: 58px 60px 43px 80px;
  }

  @media (max-width: $media-tablet) {
    padding: 39px 20px 21px;
  }
}

.about__title {
  margin: 0 22px 51px 0;

  @media (max-width: $media-tablet) {
    margin: 0 0 31px 0;
  }
}

.about__text {
  max-width: 480px;

  padding: 13px 13px 15px 13px;
  margin-bottom: 38px;

  border: 2.5px solid $basic-text;

  position: relative;

  @media (max-width: $media-tablet) {
    margin-bottom: 39px;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -16px;

    width: 29px;
    height: 29px;

    border-top: 2.5px solid $basic-text;
    border-right: 2.5px solid $basic-text;

    transform: rotate(135deg);

    background-color: $about-bg;
  }
}

.about__text--left {
  margin-right: 119px;

  @media (max-width: $media-tablet) {
    margin-right: 0;
  }

  &:before {
    left: 88%;

    @media (max-width: $media-tablet) {
      left: 79%;
    }
  }
}

.about__text--right {
  margin-left: 80px;

  @media (max-width: $media-tablet) {
    margin-left: 0;
  }

  &:before {
    right: 88%;

    @media (max-width: $media-tablet) {
      right: 80%;
    }
  }
}

//skills
.skills {
  text-align: center;
  padding: 59px 69px 0 50px;

  @media (max-width: $media-desktop) {
    padding: 59px 60px 0 59px;
  }

  @media (max-width: $media-tablet) {
    padding: 39px 19px 0 20px;
  }
}

.skills__title {
  margin-bottom: 22px;

  @media (max-width: $media-tablet) {
    margin-bottom: 12px;
  }
}

.sub-title {
  margin-bottom: 51px;

  @media (max-width: $media-tablet) {
    margin-bottom: 41px;
  }
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  @media (max-width: $media-desktop) {
    column-gap: 21px;
    row-gap: 40px;
  }
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__img {
  margin-bottom: 20px;
}

.skills__text {
  margin-bottom: 24px;
}

.skills__progress {
  &:after {
    content: "";
    display: inline-block;

    width: 142px;
    height: 9px;

    margin-left: 12px;

    @media (max-width: $media-desktop) {
      width: 111px;
    }

    @media (max-width: $media-tablet) {
      width: 94px;
      margin-left: 10px;
    }
  }
}

.skills__progress--html {
  &:after {
    background: linear-gradient(to right, $basic-text 85%, $dot 85%);
  }
}

.skills__progress--css {
  &:after {
    background: linear-gradient(to right, $basic-text 55%, $dot 55%);
  }
}

.skills__progress--js {
  &:after {
    background: linear-gradient(to right, $basic-text 5%, $dot 5%);
  }
}

.skills__progress--git {
  &:after {
    background: linear-gradient(to right, $basic-text 15%, $dot 15%);
  }
}

.skills__progress--figma {
  &:after {
    background: linear-gradient(to right, $basic-text 85%, $dot 15%);
  }
}


//portfolio
.portfolio {
  background-color: $about-bg;

  margin-top: 60px;
  padding: 60px 0;

  text-align: center;

  @media (max-width: $media-tablet) {
    margin-top: 40px;
    padding: 39px 0;
  }
}

.portfolio__inner-wrap {
  padding: 0 68px 0 50px;

  @media (max-width: $media-desktop) {
    padding: 0 60px 0 60px;
  }

  @media (max-width: $media-tablet) {
    padding: 0 20px;
  }
}

.portfolio__title {
  margin-bottom: 51px;

  @media (max-width: $media-tablet) {
    margin-bottom: 32px;
  }
}

.portfolio__list {
  color: $basic-white;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.portfolio__item {
  background-color: $basic-white;

  margin: 0 auto;

  grid-column: 1/2;
  grid-row: 1/2;

  opacity: 0;

  @media (max-width: $media-desktop) {
    width: 648px;
  }

  @media (max-width: $media-tablet) {
    width: 100%;
  }
}

.portfolio__item--active {
  opacity: 1;
}

.portfolio__img {
  @media (max-width: $media-desktop) {
    width: 648px;
    height: 604px;
  }

  @media (max-width: $media-tablet) {
    width: 280px;
    height: 604px;
  }
}

.portfolio__wrap-info {
  position: relative;

  width: 100%;
  padding: 31px 298px 33px;
  margin-top: -149px;

  background-color: $basic-text-85;

  @media (max-width: $media-desktop) {
    padding: 31px 123px 33px
  }

  @media (max-width: $media-tablet) {
    margin-top: -181px;
    padding: 20px 15px;
  }
}

.portfolio__wrap-link {
  margin: 0 auto 17px;

  @media (max-width: $media-tablet) {
    max-width: 160px;
  }
}

.portfolio__text {
  font-size: 14px;
  line-height: 16px;
}
