<footer class="footer container">
  <section class="footer__contacts">
    <h2 class="footer__contacts__title title">Contacts</h2>
    <p class="footer__contacts__text">Want to know more or just chat? You are welcome!</p>
    <button class="footer__contacts__message button">Send message</button>
    <ul class="footer__contacts__list">
      <li class="footer__contacts__item">
        <a class="footer__contacts__link link" href="#">Instagram</a>
      </li>

      <li class="footer__contacts__item">
        <a class="footer__contacts__link link" href="#">Vk</a>
      </li>

      <li class="footer__contacts__item">
        <a class="footer__contacts__link link" href="#">Telegram</a>
      </li>

      <li class="footer__contacts__item">
        <a class="footer__contacts__link link" href="#">Mail</a>
      </li>

      <li class="footer__contacts__item">
        <a class="footer__contacts__link link" href="#">GitHub</a>
      </li>

      <li class="footer__contacts__item">
        <a class="footer__contacts__link link" href="#">Phone</a>
      </li>
    </ul>
    <p class="footer__contacts__text-design">Design by <a class="contacts__link-academy link-border" href="#">DL
      Academy</a></p>
    <p class="footer__contacts__text-code">Program code from Antonina</p>
  </section>
</footer>
