<footer class="footer container">
  <section class="contacts">
    <div class="container">
      <h2 class="contacts__title">Contacts</h2>
      <p class="contacts__text">Want to know more or just chat? You are welcome!</p>
      <button class="contacts__message" href="#">Send message</button>
      <a href="#" class="contacts__link">Instagram</a>
      <a href="#" class="contacts__link">Vk</a>
      <a href="#" class="contacts__link">Telegram</a>
      <a href="#" class="contacts__link">Mail</a>
      <a href="#" class="contacts__link">GitHub</a>
      <a href="#" class="contacts__link">Phone</a>
      <p class="contacts__text-design">Design by <a class="contacts__link-academy" href="#">DL Academy</a></p>
      <p class="contacts__text-code">Program code from Samira</p>
    </div>
  </section>
</footer>
