<header class="header container">
  <button class="header__burger-button" aria-label="раскрыть или закрыть меню">
    <span class="header__burger"></span>
  </button>
  <nav class="header__nav header__nav--js hidden">
    <ul class="header__list">
      <li class="header__item @@classHome">
        <a href="@@hrefHome" class="header__link">Home</a>
      </li>

      <li class="header__item @@classBlog">
        <a href="@@hrefBlog" class="header__link">@@myBlog</a>
      </li>

      <li class="header__item header__item--profile-js @@classProfile">
        <a href="@@hrefProfile" class="header__link">@@myProfile</a>
      </li>

      <li class="header__item header__item--sign-in-js @@classSignIn">
        <button class="header__link">@@signIn</button>
      </li>

      <li class="header__item header__item--register-js @@classRegister">
        <button class="header__link">@@register</button>
      </li>
    </ul>
  </nav>
</header>
