<header class="header container">
  <nav class="header__nav">
    <button class="header__burger-button" aria-label="раскрыть или закрыть меню">
      <span class="header__burger"></span>
    </button>
    <ul class="header__list">
      <li class="header__item">
        <a href="@@hrefHome" class="header__link">Home</a>
      </li>

      <li class="header__item">
        <a href="@@hrefBlog" class="header__link">@@myBlog</a>
      </li>

      <li class="header__item">
        <button href="@@hrefSignIn" class="header__link">@@signIn</button>
      </li>

      <li class="header__item">
        <button href="@@hrefRegister" class="header__link">@@register</button>
      </li>
    </ul>
  </nav>
</header>
